@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
}

/* navbar + logo */
.navbar {
  background-color: #212529;
  height: 120px;
  position: -webkit-sticky;
  position: relative;
  bottom: 8px;
}
.navbar .navbar-toggler {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
.navbar .navbar-brand {
  color: #B93737;
  padding: 10px -2px 0px;
  margin: 0px 0px 10px;
  font-size: 180%;
  position: -webkit-sticky;
  position: relative;
  bottom: 20px;
  left: 10px;
  top: 16px;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "kanit";
}
.navbar .collapse {
  height: 120px;
  padding: 70px 20px 0px;
  margin: 10px 10px 10px;
  position: absolute;
  right: 200px;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: height 0.3s ease-in-out;
}
.navbar .collapse a {
  color: #B93737;
  margin: 20px 30px 20px;
  padding: 5px 5px 5px;
  border-radius: 1rem;
  text-decoration: none;
  margin-left: 50px;
  position: relative;
  bottom: 10px;
  left: 120px;
  font-family: "oswald";
}
.navbar .collapse a.active {
  background-color: #B93737;
  color: #fff;
}

/*index + home*/
/*imagen + eslogan*/
.train {
  max-width: 100%;
  position: relative;
}

.train img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 5%;
  font-size: 3rem;
}

.content-line {
  position: absolute;
  color: #fff;
  font-size: 3em;
  left: 42%;
  margin-top: 2px;
  padding-top: 490px;
  white-space: nowrap;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content-header {
  position: absolute;
  color: #B93737;
  font-size: 3rem;
  top: 82%;
  left: 40%;
  padding-top: 300px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

/* un poco de mi trabajo*/
.aboutme {
  color: #fff;
  padding-left: 0.5rem;
  font-size: 2.3rem;
  text-decoration: underline;
}

.parrafo {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  color: #1a1a1a;
  font-family: "montserrat";
}

/* redes + copy*/
.copycopy {
  color: #1a1a1a;
  font-family: "montserrat";
  font-size: 1rem;
  padding-top: 50px;
  padding-right: 10px;
}

/* imagen workouts + tip */
.workouts {
  position: relative;
  display: block;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.workouts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-1 {
  font-family: "montserrat";
}

/*nutricion texto*/
.textnutrition {
  font-family: "montserrat";
  font-size: 3.5rem !important;
  margin-top: 29px;
  width: 90%;
}

.copynutrition2 h2 {
  font-size: 30px;
}

/*footer nutrition*/
.copy {
  font-family: "montserrat";
  font-size: 1rem !important;
}

/*copy services*/
#copyservices {
  position: relative;
  text-align: end;
  bottom: 0;
  width: 100%;
}
#copyservices h2 {
  font-size: 1rem;
  font-family: "montserrat";
}

/* contact + boton animacion + copy */
.medios, h3, h4 {
  font-family: "montserrat";
}

.btn-enviar {
  background-color: #e6005c;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: background-color 0.5s ease;
}

.btn-enviar:hover {
  background-color: #4d001f;
}

.btn-enviar:active {
  animation: pulse 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.contenedor h2 {
  font-family: "montserrat";
  font-size: 1rem;
  position: relative;
  top: 50px;
}

/*iconos animacion*/
.redes a:hover img {
  filter: blur(2px);
}

.redessociales a:hover img {
  filter: blur(2px);
}

.redes3 a:hover img {
  filter: blur(2px);
}

/* medias queries */
/*mobile*/
@media screen and (max-width: 276px) {
  .navbar {
    width: 100%;
  }
  .train {
    max-width: 100%;
    height: auto;
  }
  .title {
    font-size: 3rem;
  }
  .content-line {
    top: auto;
  }
  .content-header {
    top: auto;
  }
}
/*tablet*/
@media (min-width: 576px) and (max-width: 991.98px) {
  .navbar {
    width: 100%;
    max-width: 100%;
  }
  .train {
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 1.5rem;
  }
  .content-line {
    position: relative;
    top: -50%;
    transform: translate(-50%, -50%);
  }
  .content-header {
    top: auto;
  }
  .texto-2 {
    width: 100%;
  }
  .texto-1 {
    width: 100%;
  }
  .foodie img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .nutrition {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .textnutrition {
    width: auto;
    display: inline-block;
  }
  #copyservices {
    position: relative;
    top: 290px;
  }
}
/*desktop*/
@media screen and (min-width: 992px) {
  .navbar {
    width: 100%;
    max-width: 100%;
  }
  .train {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
